* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

#img-holder {
    margin: 50px auto 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-panel {
    background-color: white;
    border: solid 20px white;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 300px;
    max-height: 300px;
}

#session-results-holder, #cumulative-results-holder {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#cumulative-results-holder {
    margin-top: 50px;
}

.chart-style {
    background-color: white;
    border: solid 20px white;    
}
